.vscode
.idea

node_modules
build
dist

.env

.git
.github
.gitignore
.gitattributes

**/*.md

.czrc
.editorconfig
.env.example
.prettierignore
Dockerfile
eslint.config.js
justfile
lefthook.yml
prettier.config.js