*                    text eol=lf

*.json               diff=json
*.yaml               diff
*.yml                diff

.gitattributes       export-ignore
.gitignore           export-ignore

*.jpg                binary
*.jpeg               binary
*.png                binary
